{% extends "layout.html" %}
{% block content %}
    <h2>Athlete {{ athlete_id }} Authorised</h2>
    <form id="myForm" action="/goto_map" method="POST">
        <button type="submit">Continue to Map</button>
        <button type="submit" formaction="/download_end?print=True">Print out data</button>
        <button type="submit" formaction="/callback?refresh=True">Refresh cache</button>
    </form>
    <p id="data">
        {% for comment in comments %}
            {{ comment }}<br>
        {% endfor %}
    </p>
{% endblock %}
