<!DOCTYPE html>
<html>
<head>
    <meta name="keywords" content="Strava, Heatmap, Custom, Visualization">
    <meta name="description" content="Strava Heatmap Custom Visualizations">
    <meta name="author" content="Devon Matsalla">
    <title>Strava Heatmap</title>
    <link rel="icon" type="image/x-icon" href="/static/logo.png">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
  <header>
    <nav class="navigation">
      <table><tr>
        <th>
          <div class="logo">
            <img src="/static/logo.png" alt="Logo">
          </div>
        </th><th>
          <div class="title">
            <h1>Strava Heatmap</h1>
            <!--   <h2>Subtitle</h2>  -->
          </div>
        </th><th>
          <div class="author">
            <p>by Matsalla</p>
          </div>
        </th>
      </tr></table>
    </nav>
  </header>
  <section class="content">
    {% block content %}{% endblock %}
  </section>
</body>
</html>

